<div class="auth-wrapper">
    <form class="form-addUser" [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Add New User</h3>
        <div class="form-group mt-3">
            <label >Username :</label>
            <input type="text" class="form-control" formControlName="Username" placeholder="Enter Username : " required>
            <span style="color: red;" *ngIf="Username && Username.touched && Username.invalid">
                Username is required. Min length is 5
            </span>
        </div>
        <div class="form-group mt-3">
            <label >Email :</label>
            <input type="email" class="form-control" formControlName="Email" placeholder="Enter Email : " required>
            <span style="color: red;" *ngIf="Email && Email.touched && Email.invalid">
                Email is required. 
            </span>
        </div>
        <div class="form-group mt-3">
            <label >Password :</label>
            <input type="password" class="form-control" formControlName="Password" placeholder="Enter Password : " required>
            <span style="color: red;" *ngIf="Password && Password.touched && Password.invalid">
                Password is required. 
            </span>
        </div>
        <button type="submit" class="btn btn-block btn-primary mt-3">Register</button>
    </form>
</div>
<br>
<div>
    <span> Already Have An Account <a [routerLink]="['/login']">Login Now </a></span>
</div>