<div class="row">
    <div class="col">
        <div index="selectedPayment">
            <div>
                <h3>Current Payment</h3>
            </div>
            <br>
            <div>
                <h4>{{selectedPayment.cardOwnerName}}</h4>
            </div>
            <br>
            <div>Card Number :  {{selectedPayment.cardNumber}}</div>
            <br>
            <div>expiration Date :  {{selectedPayment.expirationDate}}</div>
            <br>
        </div> 
    </div>
    <div class="col">
        <div class="auth-wrapper">
            <form class="form-updatePayment" [formGroup]="updatePaymentForm" (ngSubmit)="updatePayment()">
                <h3 class="h3 mb-3 font-weight-normal text-center">Update Current Payment</h3>
                <div class="form-group mt-3">
                    <label >Card Owner Name :</label>
                    <input type="text" class="form-control" formControlName="cardOwnerName" placeholder="Enter Card Owner Name : " required>
                    <span style="color: red;" *ngIf="cardOwnerName && cardOwnerName.touched && cardOwnerName.invalid">
                        Card Owner Name is required. Min length is 5
                    </span>
                </div>
                <div class="form-group mt-3">
                    <label >Card Number :</label>
                    <input type="text" class="form-control" formControlName="cardNumber" placeholder="Enter Card Number : " required>
                    <span style="color: red;" *ngIf="cardNumber && cardNumber.touched && cardNumber.invalid">
                        Card Number is required. 
                    </span>
                </div>
                <div class="form-group mt-3">
                    <label >Expiration Date :</label>
                    <input type="text" class="form-control" formControlName="expirationDate" placeholder="Enter expiration Date (MM/YY): " required>
                    <span style="color: red;" *ngIf="expirationDate && expirationDate.touched && expirationDate.invalid">
                        expiration Date is required. 
                    </span>
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-3">Update Payment</button>
            </form>
            <br>
            <button class="btn btn-block btn-success" [routerLink]="['/homepage']">Return To Homepage</button>
        </div>
    </div>
</div>
